/* Test Area */

/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");

html,
body {
  background-color: #312d6d;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

body {
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4 {
  font-family: "Readex Pro", sans-serif;
  color: white;
}

.container {
  width: 90%;
  min-width: 820px;
  max-width: 1200px;
  min-height: 100vh;
}

/* Main Password Generator app Section */

.header-app-container {
  height: 600px;
}

header {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 50px;
}

header img {
  height: 80px;
}

.branding {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.branding h1 {
  margin-bottom: 1px;
  font-size: 3em;
}

.branding p {
  font-size: 10px;
  letter-spacing: 2px;
  margin: 0;
}

.branding h1 span {
  color: #35d2e1;
}

/* App content styles*/
.app-container {
  display: flex;
  align-items: center;
}

.greeting h2 {
  color: #35d2e1;
  font-size: 2.5em;
}

.greeting p {
  width: 90%;
  min-width: 200px;
  line-height: 1.6em;
  letter-spacing: 1px;
  font-size: 1.5em;
}

/* App Generator box  */
.app {
  height: 350px;
  min-width: 380px;
  background-color: #f1fbfd;
  margin-left: 10px;
  border-radius: 36px;
}

.app-content {
  height: 80%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#message {
  color: #312d6d;
  font-size: 1.2em;
  text-align: center;
}

#password-container {
  height: 130px;
  border: #443299 solid 0.5px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#copy-icon {
  position: relative;
  bottom: 38%;
  left: 92%;
  font-size: 2em;
  color: #312d6d;
}

#copy-icon:hover {
  color: #55aaee;
}

.copied{
  color: grey !important;
}

#password{
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  font-family: "Readex Pro", sans-serif;
  letter-spacing: 1px;
  color: #312d6d;
}

.app-buttons {
  display: flex;
  justify-content: space-around;
}


.app-buttons button {
  width: 45%;
  border-radius: 5px;
  background-color: #55aaee;
  color: #f1fbfd;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1em;
}

.app-buttons button:hover{
  background-color: #85b9e4;
}

/* About Section */

.about-container {
  font-size: 1.3em;
  line-height: 1.7em;
}

.about-container h2 {
  font-size: 2em;
  letter-spacing: 1px;
  line-height: 1.1em;
}

.about {
  display: flex;
}

.about ul {
  margin-bottom: 20px;
}

.about ul li {
  margin: 5px 0;
}

.about ul li span {
  color: #35d2e1;
}

.about img {
  height: 300px;
  margin-left: 80px;
}

/* Footer */
footer {
  height: 60px;
  background-color: #312d6d;
  margin-top: 100px;
  border-top: 1px solid #35d2e1;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}

footer ul {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer ul li {
  display: inline-block;
}

footer a{
  color: inherit;
  text-decoration: none;
}

footer a:hover{
  color: #35d2e1;
}
/* Styles for Medium devices and small (landscape tablets, 820px and below) */
@media only screen and (max-width: 820px) {
  .header-app-container {
    height: 100vh;
    min-height: 600px;
  }
  header {
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 15px;
  }

  .container {
    min-width: 375px;
    width: 90vw;
  }

  /* App contebnt styles */

  .app-container {
    flex-direction: column-reverse;
  }

  .app {
    height: 280px;
    min-width: 350px;
    max-width: 370px;
    margin-bottom: 50px;
  }

  #password-container {
    height: 100px;
  }
  .app-buttons button {
    margin-top: 35px;
  }

  .greeting p {
    width: 100%;
    line-height: 1.6em;
    font-size: 1.3em;
  }

  /* About Section */
  .about {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about:first-child {
    align-self: flex-start;
  }

  .about img {
    height: 150px;
    margin-left: auto;
  }
footer{
  margin: 20px 10px;
  height: 80px;;
}
  footer ul {
    padding: 0;
    flex-direction: column;
  }
  footer ul li {
    font-size: 0.5em;
    margin: 5px 0px;
  }
}
